In [65]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.cluster import KMeans
from sklearn.metrics import accuracy_score, homogeneity_completeness_v_measure
from keras.layers import Input, Embedding, LSTM, Dense, Dropout
from keras.models import Model, load_model
from keras.callbacks import EarlyStopping

In [2]:
# load the data
file_name = 'names.csv'
data = pd.read_csv(file_name, header=0, sep=',')

# remove English for easy prediction
data = data[data['nation'] != 'ENGLISH']
data

       first_name       last_name    nation
0        PONGSIRI          SUASAT      THAI
1        NOPADON           MISANG      THAI
2         KRISADA          SOMSUK      THAI
3         WORAWUT       SANGANGAM      THAI
4        KULPRIYA      KITCHAROEN      THAI
5    PATTHARAPONG  PIMONSAKONWONG      THAI
6         KANITTA      SUWANNARAT      THAI
7     JEDSADAKORN          PANICH      THAI
8       THITAPORN         KONKONG      THAI
9        DARUNWAN  THONGKHOENKHUN      THAI
10      PRAEWNAPA       TEANPANOM      THAI
11        NATTIDA         SEEBAND      THAI
12       TOSAPORN         SUKANAN      THAI
13       NEERACHA           TADAM      THAI
14      RATCHANON      PROYJAROEN      THAI
15       WARAPORN          WANDEE      THAI
16         WARISA      CHAISRISUT      THAI
17       WEERAPAT       JULLAGATE      THAI
18        PATINYA         WONGTIM      THAI
19    PHONGSATORN     SIRIBANJONG      THAI
20        PIMPIKA          BOONIN      THAI
21      SITTICHOK    THIANPRAYORT      THAI
22       KANYAWEE     BOONKOOMYOO      THAI
23        MONTHON       WANNAPHOP      THAI
24      PITNITHEE       MARPIJARN      THAI
25       JATUPORN        HEMRANON      THAI
26      THANAKORN        PANTHONG      THAI
27         SURIYA           KENMA      THAI
28     THODSAPORN   RUTANASOMRUAJ      THAI
29        MONTIDA       FURATTANA      THAI
..            ...             ...       ...
270      FURUKAWA       TOYOSHIGE  JAPANESE
271       UMESAKA             KIN  JAPANESE
272          IIDA           TANGO  JAPANESE
273         KIKYO        MIYAZAKI  JAPANESE
274      FUKUNAGA       NARIAKIRA  JAPANESE
275          TODA           KOKAN  JAPANESE
276      SAKAMOTO         TATSUZO  JAPANESE
277     JINNOUCHI         SHUNMYO  JAPANESE
278         NAGAI       SHIGETAKA  JAPANESE
279        AOMINE           BOTAN  JAPANESE
280          SONE          SEIBEI  JAPANESE
281        MAYEDA         NARIAKI  JAPANESE
282        FUJINO         UTAMURO  JAPANESE
283         KISHI           BAIKO  JAPANESE
284          UETO       YOSHITOKI  JAPANESE
285        MATSUO           KENJI  JAPANESE
286        KANEKO         SHUSAKU  JAPANESE
287          HATA          TETSUO  JAPANESE
288        MORINE    SHINRIKIYARU  JAPANESE
289          JUBA        TOYOKUNI  JAPANESE
290       IWAYAMA      MATSUDAIRA  JAPANESE
291           IDE           JOBEN  JAPANESE
292        HARUNO        MUNEYAKI  JAPANESE
293       OKAMOTO           ARATA  JAPANESE
294         NAGAI        HIROYUKI  JAPANESE
295        SUMISU       SHIGEMORI  JAPANESE
296         KINJO        SUKEJURO  JAPANESE
297      RAKUYAMA         MATABEI  JAPANESE
298        SEKINO          GIDAYU  JAPANESE
299     KATABUCHI           USAGI  JAPANESE

[300 rows x 3 columns]

In [3]:
# convert name to lower case
data['first_name'] = data['first_name'].str.lower()
data['last_name'] = data['last_name'].str.lower()
# data['full_name'] = data['first_name'] + ' ' + data['last_name']
data.head()

  first_name   last_name nation
0   pongsiri      suasat   THAI
1   nopadon       misang   THAI
2    krisada      somsuk   THAI
3    worawut   sangangam   THAI
4   kulpriya  kitcharoen   THAI

# Analyze name length

In [4]:
data['first_name_len'] = data['first_name'].str.len()
data['last_name_len'] = data['last_name'].str.len()
# data['full_name_len'] = data['full_name'].str.len()
data.head()

  first_name   last_name nation  first_name_len  last_name_len
0   pongsiri      suasat   THAI               8              6
1   nopadon       misang   THAI               8              6
2    krisada      somsuk   THAI               7              6
3    worawut   sangangam   THAI               7              9
4   kulpriya  kitcharoen   THAI               8             10

In [5]:
data.describe()

       first_name_len  last_name_len
count      300.000000     300.000000
mean         5.940000       6.580000
std          2.418518       2.788582
min          2.000000       2.000000
25%          4.000000       5.000000
50%          6.000000       6.000000
75%          8.000000       8.000000
max         12.000000      16.000000

# Preprocessing name for machine learning model
We need to convert name alphabets into a fixed length matrix, we also need to specify the maximum name
length. E.g. if the maximum name length is 10, and the English alphabets are 26. Then the final vector length
is 10*26 which is 260 for each name.

In [6]:
max_name_len = data['first_name_len'].max()
max_name_len = max(data['last_name_len'].max(), max_name_len)
# max_name_len = max(data['full_name_len'].max(), max_name_len)
max_name_len

16

In [7]:
import string
allowed_chars = string.ascii_lowercase + '- '
allowed_chars, len(allowed_chars)

('abcdefghijklmnopqrstuvwxyz- ', 28)

In [8]:
# convert name string into (name_len, len(allowed_chars)) shaped matrix containing one-hot values
# if the character is present
def name_to_matrix(name, max_name_len=None):
    vectors = []
    vec_shape = [1, len(allowed_chars)]
    for c in name:
        idx = None # contains index a=0, b=1, c=2, ..., z=25
        vec = np.zeros(vec_shape, dtype=np.float32)
        if c in allowed_chars:
            idx = allowed_chars.index(c)
            vec[0,idx] = 1.0
        vectors.append(vec)
    if max_name_len is not None:
        n_blank_chars = max_name_len - len(name)
        for i in range(n_blank_chars):
            blank_vec = np.zeros(vec_shape, dtype=np.float32)
            vectors.append(blank_vec)
    return np.concatenate(vectors, axis=0)

name_matrix = name_to_matrix('abz', max_name_len)
name_matrix[:5, :], name_matrix.shape

(array([[ 1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
          0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
          0.,  0.],
        [ 0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
          0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
          0.,  0.],
        [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
          0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,
          0.,  0.],
        [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
          0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
          0.,  0.],
        [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
          0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
          0.,  0.]], dtype=float32), (16, 28))

# Aggregating the dataset
Use the function defined to aggregate the dataset

In [9]:
available_nations = np.array(list(set(data['nation'])))
available_nations

array(['CHINESE', 'THAI', 'JAPANESE'],
      dtype='<U8')

In [10]:
def one_hot(idx, size):
    vec = np.zeros([size], dtype=np.float32)
    vec[idx] = 1.0
    return vec

one_hot(1, 5)

array([ 0.,  1.,  0.,  0.,  0.], dtype=float32)

In [11]:
# apply name_to_matrix() function to all the names and aggregate the results
X, y, X_str, y_nation, y_pos = [], [], [], [], []
name_cols = ['first_name', 'last_name']
# name_cols = ['full_name']
for name_col_idx, name_col in enumerate(name_cols):
    for idx, row in data.iterrows():
        name_matrix = name_to_matrix(row[name_col], max_name_len)
        X.append(name_matrix[np.newaxis])
        y.append([row['nation'], name_col])
        X_str.append(row[name_col])
        y_nation.append(one_hot(available_nations.tolist().index(row['nation']), len(available_nations))[np.newaxis])
        y_pos.append(one_hot(name_col_idx, len(name_cols))[np.newaxis])
X = np.concatenate(X, axis=0)
y = np.array(y)
X_str = np.array(X_str)
y_nation = np.concatenate(y_nation, axis=0)
y_pos = np.concatenate(y_pos, axis=0)
X.shape, y.shape, y_nation.shape, y_pos.shape

((600, 16, 28), (600, 2), (600, 3), (600, 2))

In [12]:
X_train, X_test, y_train, y_test, X_str_train, X_str_test,\
    y_nation_train, y_nation_test, y_pos_train, y_pos_test = \
    train_test_split(X, y, X_str, y_nation, y_pos, test_size=0.2)
X_train.shape, X_test.shape, y_nation_train.shape, y_nation_test.shape

((480, 16, 28), (120, 16, 28), (480, 3), (120, 3))

In [13]:
def flatten_X(X):
    return X.reshape([X.shape[0], -1])
X_train_flat = flatten_X(X_train)
X_test_flat = flatten_X(X_test)
X_train_flat.shape, X_test_flat.shape

((480, 448), (120, 448))

# Train a machine learning model
Use a simple model, or a deep one.

In [ ]:
# # train a simple model and show the score
# model_names = ['nation', 'first/last']
# models = dict()
# for i in range(y.shape[1]):
#     simple_model = DecisionTreeClassifier()
#     simple_model.fit(X_train_flat, y_train[:,i])
#     print(model_names[i], simple_model.score(X_train_flat, y_train[:,i]), simple_model.score(X_test_flat, y_test[:,i]))
#     models[model_names[i]] = simple_model

In [14]:
# define a deep model
name_input = Input(shape=(X_train_flat.shape[1],), name='name_input', dtype='float32')
hidden = Dense(64, activation='relu')(name_input)
hidden = Dropout(0.5)(hidden)
hidden = Dense(64, activation='relu')(hidden)
hidden = Dropout(0.5)(hidden)
hidden = Dense(64, activation='relu')(hidden)
hidden = Dropout(0.5)(hidden)
out_nation = Dense(y_nation.shape[1], activation='softmax', name='out_nation')(hidden)
out_pos = Dense(y_pos.shape[1], activation='softmax', name='out_pos')(hidden)

model = Model(inputs=[name_input], outputs=[out_nation, out_pos])

model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])
model.summary()

____________________________________________________________________________________________________
Layer (type)                     Output Shape          Param #     Connected to
====================================================================================================
name_input (InputLayer)          (None, 448)           0
____________________________________________________________________________________________________
dense_1 (Dense)                  (None, 64)            28736
____________________________________________________________________________________________________
dropout_1 (Dropout)              (None, 64)            0
____________________________________________________________________________________________________
dense_2 (Dense)                  (None, 64)            4160
____________________________________________________________________________________________________
dropout_2 (Dropout)              (None, 64)            0
____________________________________________________________________________________________________
dense_3 (Dense)                  (None, 64)            4160
____________________________________________________________________________________________________
dropout_3 (Dropout)              (None, 64)            0
____________________________________________________________________________________________________
out_nation (Dense)               (None, 3)             195
____________________________________________________________________________________________________
out_pos (Dense)                  (None, 2)             130
====================================================================================================
Total params: 37,381.0
Trainable params: 37,381.0
Non-trainable params: 0.0
____________________________________________________________________________________________________

In [15]:
# train it
callbacks = [EarlyStopping(patience=10)]
model.fit([X_train_flat], [y_nation_train, y_pos_train], epochs=100, validation_split=0.1, callbacks=callbacks, batch_size=32)

Train on 432 samples, validate on 48 samples
Epoch 1/100
432/432 [==============================] - 1s - loss: 1.8158 - out_nation_loss: 1.1139 - out_pos_loss: 0.7019 - out_nation_acc: 0.3241 - out_pos_acc: 0.4884 - val_loss: 1.7941 - val_out_nation_loss: 1.0949 - val_out_pos_loss: 0.6992 - val_out_nation_acc: 0.3542 - val_out_pos_acc: 0.4375
Epoch 2/100
432/432 [==============================] - 0s - loss: 1.8133 - out_nation_loss: 1.1135 - out_pos_loss: 0.6999 - out_nation_acc: 0.3310 - out_pos_acc: 0.4769 - val_loss: 1.7937 - val_out_nation_loss: 1.0924 - val_out_pos_loss: 0.7013 - val_out_nation_acc: 0.3958 - val_out_pos_acc: 0.5208
Epoch 3/100
432/432 [==============================] - 0s - loss: 1.7980 - out_nation_loss: 1.0949 - out_pos_loss: 0.7031 - out_nation_acc: 0.3704 - out_pos_acc: 0.5023 - val_loss: 1.7887 - val_out_nation_loss: 1.0876 - val_out_pos_loss: 0.7011 - val_out_nation_acc: 0.4167 - val_out_pos_acc: 0.4583
Epoch 4/100
432/432 [==============================] - 0s - loss: 1.7765 - out_nation_loss: 1.0816 - out_pos_loss: 0.6949 - out_nation_acc: 0.3958 - out_pos_acc: 0.5208 - val_loss: 1.7830 - val_out_nation_loss: 1.0823 - val_out_pos_loss: 0.7007 - val_out_nation_acc: 0.3958 - val_out_pos_acc: 0.4792
Epoch 5/100
432/432 [==============================] - 0s - loss: 1.7599 - out_nation_loss: 1.0704 - out_pos_loss: 0.6896 - out_nation_acc: 0.3958 - out_pos_acc: 0.5394 - val_loss: 1.7762 - val_out_nation_loss: 1.0753 - val_out_pos_loss: 0.7009 - val_out_nation_acc: 0.4792 - val_out_pos_acc: 0.4583
Epoch 6/100
432/432 [==============================] - 0s - loss: 1.7513 - out_nation_loss: 1.0641 - out_pos_loss: 0.6871 - out_nation_acc: 0.4375 - out_pos_acc: 0.5417 - val_loss: 1.7661 - val_out_nation_loss: 1.0636 - val_out_pos_loss: 0.7025 - val_out_nation_acc: 0.5208 - val_out_pos_acc: 0.4792
Epoch 7/100
432/432 [==============================] - 0s - loss: 1.7428 - out_nation_loss: 1.0556 - out_pos_loss: 0.6872 - out_nation_acc: 0.4028 - out_pos_acc: 0.5394 - val_loss: 1.7528 - val_out_nation_loss: 1.0479 - val_out_pos_loss: 0.7049 - val_out_nation_acc: 0.5417 - val_out_pos_acc: 0.4583
Epoch 8/100
432/432 [==============================] - 0s - loss: 1.7103 - out_nation_loss: 1.0274 - out_pos_loss: 0.6829 - out_nation_acc: 0.5324 - out_pos_acc: 0.5440 - val_loss: 1.7347 - val_out_nation_loss: 1.0285 - val_out_pos_loss: 0.7062 - val_out_nation_acc: 0.6667 - val_out_pos_acc: 0.4583
Epoch 9/100
432/432 [==============================] - 0s - loss: 1.6686 - out_nation_loss: 0.9875 - out_pos_loss: 0.6812 - out_nation_acc: 0.5625 - out_pos_acc: 0.5532 - val_loss: 1.7031 - val_out_nation_loss: 0.9939 - val_out_pos_loss: 0.7091 - val_out_nation_acc: 0.7083 - val_out_pos_acc: 0.4583
Epoch 10/100
432/432 [==============================] - 0s - loss: 1.6353 - out_nation_loss: 0.9591 - out_pos_loss: 0.6762 - out_nation_acc: 0.6042 - out_pos_acc: 0.6019 - val_loss: 1.6670 - val_out_nation_loss: 0.9563 - val_out_pos_loss: 0.7108 - val_out_nation_acc: 0.7500 - val_out_pos_acc: 0.5208
Epoch 11/100
432/432 [==============================] - 0s - loss: 1.5713 - out_nation_loss: 0.9061 - out_pos_loss: 0.6652 - out_nation_acc: 0.6528 - out_pos_acc: 0.5856 - val_loss: 1.6170 - val_out_nation_loss: 0.9040 - val_out_pos_loss: 0.7130 - val_out_nation_acc: 0.7500 - val_out_pos_acc: 0.4792
Epoch 12/100
432/432 [==============================] - 0s - loss: 1.5037 - out_nation_loss: 0.8347 - out_pos_loss: 0.6690 - out_nation_acc: 0.6991 - out_pos_acc: 0.6111 - val_loss: 1.5573 - val_out_nation_loss: 0.8406 - val_out_pos_loss: 0.7167 - val_out_nation_acc: 0.7708 - val_out_pos_acc: 0.4583
Epoch 13/100
432/432 [==============================] - 0s - loss: 1.4322 - out_nation_loss: 0.7633 - out_pos_loss: 0.6689 - out_nation_acc: 0.6852 - out_pos_acc: 0.5764 - val_loss: 1.4962 - val_out_nation_loss: 0.7806 - val_out_pos_loss: 0.7156 - val_out_nation_acc: 0.7917 - val_out_pos_acc: 0.4583
Epoch 14/100
432/432 [==============================] - 0s - loss: 1.3534 - out_nation_loss: 0.6960 - out_pos_loss: 0.6574 - out_nation_acc: 0.7338 - out_pos_acc: 0.6088 - val_loss: 1.4366 - val_out_nation_loss: 0.7186 - val_out_pos_loss: 0.7180 - val_out_nation_acc: 0.7917 - val_out_pos_acc: 0.4167
Epoch 15/100
432/432 [==============================] - 0s - loss: 1.3428 - out_nation_loss: 0.6798 - out_pos_loss: 0.6630 - out_nation_acc: 0.7153 - out_pos_acc: 0.6065 - val_loss: 1.3822 - val_out_nation_loss: 0.6530 - val_out_pos_loss: 0.7292 - val_out_nation_acc: 0.7917 - val_out_pos_acc: 0.4583
Epoch 16/100
432/432 [==============================] - 0s - loss: 1.2528 - out_nation_loss: 0.5979 - out_pos_loss: 0.6550 - out_nation_acc: 0.7546 - out_pos_acc: 0.5833 - val_loss: 1.3216 - val_out_nation_loss: 0.5858 - val_out_pos_loss: 0.7357 - val_out_nation_acc: 0.7917 - val_out_pos_acc: 0.5000
Epoch 17/100
432/432 [==============================] - 0s - loss: 1.2597 - out_nation_loss: 0.5913 - out_pos_loss: 0.6684 - out_nation_acc: 0.7523 - out_pos_acc: 0.5949 - val_loss: 1.2878 - val_out_nation_loss: 0.5604 - val_out_pos_loss: 0.7274 - val_out_nation_acc: 0.8125 - val_out_pos_acc: 0.4583
Epoch 18/100
432/432 [==============================] - 0s - loss: 1.1573 - out_nation_loss: 0.5042 - out_pos_loss: 0.6532 - out_nation_acc: 0.8056 - out_pos_acc: 0.6019 - val_loss: 1.2670 - val_out_nation_loss: 0.5332 - val_out_pos_loss: 0.7338 - val_out_nation_acc: 0.8125 - val_out_pos_acc: 0.4375
Epoch 19/100
432/432 [==============================] - 0s - loss: 1.1270 - out_nation_loss: 0.4798 - out_pos_loss: 0.6472 - out_nation_acc: 0.8032 - out_pos_acc: 0.6227 - val_loss: 1.2806 - val_out_nation_loss: 0.5398 - val_out_pos_loss: 0.7408 - val_out_nation_acc: 0.7708 - val_out_pos_acc: 0.4583
Epoch 20/100
432/432 [==============================] - 0s - loss: 1.0621 - out_nation_loss: 0.4280 - out_pos_loss: 0.6342 - out_nation_acc: 0.8380 - out_pos_acc: 0.6204 - val_loss: 1.2788 - val_out_nation_loss: 0.5304 - val_out_pos_loss: 0.7484 - val_out_nation_acc: 0.7708 - val_out_pos_acc: 0.5000
Epoch 21/100
432/432 [==============================] - 0s - loss: 1.0540 - out_nation_loss: 0.4045 - out_pos_loss: 0.6494 - out_nation_acc: 0.8356 - out_pos_acc: 0.5972 - val_loss: 1.2585 - val_out_nation_loss: 0.4932 - val_out_pos_loss: 0.7653 - val_out_nation_acc: 0.8542 - val_out_pos_acc: 0.4583
Epoch 22/100
432/432 [==============================] - 0s - loss: 1.0219 - out_nation_loss: 0.3711 - out_pos_loss: 0.6508 - out_nation_acc: 0.8611 - out_pos_acc: 0.6250 - val_loss: 1.2276 - val_out_nation_loss: 0.4760 - val_out_pos_loss: 0.7516 - val_out_nation_acc: 0.8125 - val_out_pos_acc: 0.5208
Epoch 23/100
432/432 [==============================] - 0s - loss: 0.9808 - out_nation_loss: 0.3317 - out_pos_loss: 0.6491 - out_nation_acc: 0.8796 - out_pos_acc: 0.6620 - val_loss: 1.2363 - val_out_nation_loss: 0.4975 - val_out_pos_loss: 0.7388 - val_out_nation_acc: 0.7708 - val_out_pos_acc: 0.4792
Epoch 24/100
432/432 [==============================] - 0s - loss: 0.9105 - out_nation_loss: 0.3072 - out_pos_loss: 0.6033 - out_nation_acc: 0.8704 - out_pos_acc: 0.6574 - val_loss: 1.2314 - val_out_nation_loss: 0.4956 - val_out_pos_loss: 0.7359 - val_out_nation_acc: 0.7917 - val_out_pos_acc: 0.5208
Epoch 25/100
432/432 [==============================] - 0s - loss: 0.9469 - out_nation_loss: 0.3115 - out_pos_loss: 0.6353 - out_nation_acc: 0.8981 - out_pos_acc: 0.6528 - val_loss: 1.2668 - val_out_nation_loss: 0.5401 - val_out_pos_loss: 0.7267 - val_out_nation_acc: 0.7708 - val_out_pos_acc: 0.5208
Epoch 26/100
432/432 [==============================] - 0s - loss: 0.9133 - out_nation_loss: 0.3131 - out_pos_loss: 0.6002 - out_nation_acc: 0.8750 - out_pos_acc: 0.6597 - val_loss: 1.2626 - val_out_nation_loss: 0.5323 - val_out_pos_loss: 0.7303 - val_out_nation_acc: 0.7708 - val_out_pos_acc: 0.5208
Epoch 27/100
432/432 [==============================] - 0s - loss: 0.8619 - out_nation_loss: 0.2858 - out_pos_loss: 0.5761 - out_nation_acc: 0.8958 - out_pos_acc: 0.6875 - val_loss: 1.2165 - val_out_nation_loss: 0.4728 - val_out_pos_loss: 0.7438 - val_out_nation_acc: 0.8542 - val_out_pos_acc: 0.5208
Epoch 28/100
432/432 [==============================] - 0s - loss: 0.8176 - out_nation_loss: 0.2514 - out_pos_loss: 0.5663 - out_nation_acc: 0.9259 - out_pos_acc: 0.7037 - val_loss: 1.2482 - val_out_nation_loss: 0.4908 - val_out_pos_loss: 0.7574 - val_out_nation_acc: 0.8333 - val_out_pos_acc: 0.5208
Epoch 29/100
432/432 [==============================] - 0s - loss: 0.8082 - out_nation_loss: 0.2530 - out_pos_loss: 0.5551 - out_nation_acc: 0.9005 - out_pos_acc: 0.7153 - val_loss: 1.2799 - val_out_nation_loss: 0.5051 - val_out_pos_loss: 0.7748 - val_out_nation_acc: 0.8333 - val_out_pos_acc: 0.5417
Epoch 30/100
432/432 [==============================] - 0s - loss: 0.7843 - out_nation_loss: 0.2087 - out_pos_loss: 0.5756 - out_nation_acc: 0.9421 - out_pos_acc: 0.6597 - val_loss: 1.2908 - val_out_nation_loss: 0.5071 - val_out_pos_loss: 0.7836 - val_out_nation_acc: 0.8333 - val_out_pos_acc: 0.5208
Epoch 31/100
432/432 [==============================] - 0s - loss: 0.7171 - out_nation_loss: 0.2161 - out_pos_loss: 0.5010 - out_nation_acc: 0.9306 - out_pos_acc: 0.7431 - val_loss: 1.3277 - val_out_nation_loss: 0.5403 - val_out_pos_loss: 0.7875 - val_out_nation_acc: 0.8333 - val_out_pos_acc: 0.5417
Epoch 32/100
432/432 [==============================] - 0s - loss: 0.7106 - out_nation_loss: 0.1745 - out_pos_loss: 0.5361 - out_nation_acc: 0.9421 - out_pos_acc: 0.7292 - val_loss: 1.3439 - val_out_nation_loss: 0.5376 - val_out_pos_loss: 0.8063 - val_out_nation_acc: 0.8333 - val_out_pos_acc: 0.5208
Epoch 33/100
432/432 [==============================] - 0s - loss: 0.6951 - out_nation_loss: 0.1903 - out_pos_loss: 0.5049 - out_nation_acc: 0.9421 - out_pos_acc: 0.7593 - val_loss: 1.3238 - val_out_nation_loss: 0.5227 - val_out_pos_loss: 0.8011 - val_out_nation_acc: 0.8542 - val_out_pos_acc: 0.5417
Epoch 34/100
432/432 [==============================] - 0s - loss: 0.6656 - out_nation_loss: 0.1562 - out_pos_loss: 0.5094 - out_nation_acc: 0.9514 - out_pos_acc: 0.7338 - val_loss: 1.3449 - val_out_nation_loss: 0.5382 - val_out_pos_loss: 0.8067 - val_out_nation_acc: 0.8542 - val_out_pos_acc: 0.5417
Epoch 35/100
432/432 [==============================] - 0s - loss: 0.7042 - out_nation_loss: 0.1971 - out_pos_loss: 0.5071 - out_nation_acc: 0.9375 - out_pos_acc: 0.7130 - val_loss: 1.4200 - val_out_nation_loss: 0.5791 - val_out_pos_loss: 0.8408 - val_out_nation_acc: 0.8333 - val_out_pos_acc: 0.5417
Epoch 36/100
432/432 [==============================] - 0s - loss: 0.6229 - out_nation_loss: 0.1492 - out_pos_loss: 0.4737 - out_nation_acc: 0.9468 - out_pos_acc: 0.7685 - val_loss: 1.4477 - val_out_nation_loss: 0.5920 - val_out_pos_loss: 0.8557 - val_out_nation_acc: 0.8542 - val_out_pos_acc: 0.5417
Epoch 37/100
432/432 [==============================] - 0s - loss: 0.6324 - out_nation_loss: 0.1558 - out_pos_loss: 0.4766 - out_nation_acc: 0.9468 - out_pos_acc: 0.7523 - val_loss: 1.4588 - val_out_nation_loss: 0.6124 - val_out_pos_loss: 0.8465 - val_out_nation_acc: 0.8542 - val_out_pos_acc: 0.5000
Epoch 38/100
432/432 [==============================] - 0s - loss: 0.6204 - out_nation_loss: 0.1432 - out_pos_loss: 0.4773 - out_nation_acc: 0.9560 - out_pos_acc: 0.7454 - val_loss: 1.4669 - val_out_nation_loss: 0.6114 - val_out_pos_loss: 0.8555 - val_out_nation_acc: 0.8542 - val_out_pos_acc: 0.4792

In [16]:
# performance evaluation
df = pd.DataFrame(columns=['loss','out_nation_loss','out_pos_loss','out_nation_acc', 'out_pos_acc'], index=['train', 'test'])
df.loc['train'] = model.evaluate([X_train_flat], [y_nation_train, y_pos_train], verbose=0)
df.loc['test'] = model.evaluate([X_test_flat], [y_nation_test, y_pos_test], verbose=0)
df

           loss out_nation_loss out_pos_loss out_nation_acc out_pos_acc
train  0.474083       0.0846203     0.389463        0.98125    0.847917
test    1.04598        0.328438      0.71754            0.9    0.691667

# Clustering
Try clustering to see if its accuracy would be better or worse than neural network.

We will map the most common cluster to the most common label and so on.
And evaluate accuracy from the induced label.

Note that we will only use the nation label and not the first/last name indicator label.

In [83]:
%%time
kmeans = KMeans(n_clusters=y_nation_train.shape[1])
km_pred_train = kmeans.fit_predict(X_train_flat) # predicted clusters
km_pred_test = kmeans.predict(X_test_flat)

Wall time: 212 ms

In [84]:
cluster_freq = Counter(km_pred_train).most_common()
cluster_freq

[(0, 236), (2, 123), (1, 121)]

In [85]:
label_freq = Counter(y_nation_train.argmax(axis=1)).most_common()
label_freq

[(0, 166), (1, 158), (2, 156)]

In [86]:
cluster2label = np.empty([len(cluster_freq)], dtype=np.int32)
for cluster, label in zip(cluster_freq, label_freq):
    cluster = cluster[0]
    label = label[0]
    cluster2label[cluster] = label
cluster2label

array([0, 2, 1])

In [87]:
km_pred_train_label = cluster2label[km_pred_train]
km_pred_test_label = cluster2label[km_pred_test]
score_train = accuracy_score(y_nation_train.argmax(axis=1), km_pred_train_label)
score_test = accuracy_score(y_nation_test.argmax(axis=1), km_pred_test_label)
score_train, score_test

(0.34791666666666665, 0.38333333333333336)

In [88]:
homogeneity_completeness_v_measure(y_nation_train.argmax(axis=1), km_pred_train)

(0.011250360989112387, 0.011819783284475619, 0.011528044834610462)

In [95]:
homogeneity_completeness_v_measure(y_nation_test.argmax(axis=1), km_pred_test)

(0.021533528435585605, 0.022537385064215959, 0.022024023720144663)

In [103]:
# clustering results
table = {
    'Name': X_str_test,
    'Prediction': available_nations[km_pred_test_label],
    'True Label': available_nations[y_nation_test.argmax(axis=1)],
    'Accurate?': (km_pred_test_label == y_nation_test.argmax(axis=1))
}
pd.DataFrame(data=table).sort_values('Accurate?', ascending=False)

    Accurate?           Name Prediction True Label
27       True         jingyi    CHINESE    CHINESE
73       True       haruyama   JAPANESE   JAPANESE
54       True             gu    CHINESE    CHINESE
66       True      chanwiset       THAI       THAI
65       True    khualamthan       THAI       THAI
30       True       hanazawa   JAPANESE   JAPANESE
77       True        ruogang    CHINESE    CHINESE
99       True      thanakorn       THAI       THAI
98       True           ling    CHINESE    CHINESE
34       True         matsuo   JAPANESE   JAPANESE
35       True            kun    CHINESE    CHINESE
37       True             zi    CHINESE    CHINESE
104      True     matsushita   JAPANESE   JAPANESE
63       True       watanuki   JAPANESE   JAPANESE
39       True            guo    CHINESE    CHINESE
83       True         takata   JAPANESE   JAPANESE
79       True     cholthicha       THAI       THAI
50       True             xu    CHINESE    CHINESE
92       True          yuhan    CHINESE    CHINESE
89       True          tango   JAPANESE   JAPANESE
45       True           hong    CHINESE    CHINESE
46       True          kaede   JAPANESE   JAPANESE
103      True         kaneko   JAPANESE   JAPANESE
24       True            xue    CHINESE    CHINESE
12       True      thongwong       THAI       THAI
23       True      wakatsuki   JAPANESE   JAPANESE
71       True      phosathon       THAI       THAI
75       True      kazutoshi   JAPANESE   JAPANESE
116      True  stangthanakom       THAI       THAI
115      True           dong    CHINESE    CHINESE
..        ...            ...        ...        ...
7       False       kozakura    CHINESE   JAPANESE
6       False      nishikawa    CHINESE   JAPANESE
5       False         koichi    CHINESE   JAPANESE
4       False       tokunaga    CHINESE   JAPANESE
3       False        woragun    CHINESE       THAI
2       False     proyjaroen    CHINESE       THAI
33      False      noidonpri    CHINESE       THAI
36      False         piriya    CHINESE       THAI
38      False       panupong   JAPANESE       THAI
40      False       miyazaki    CHINESE   JAPANESE
68      False        chiyuki       THAI   JAPANESE
64      False      marpijarn   JAPANESE       THAI
62      False            yan   JAPANESE    CHINESE
61      False          chang       THAI    CHINESE
1       False           xiao       THAI    CHINESE
59      False          huang       THAI    CHINESE
58      False          usagi       THAI   JAPANESE
57      False      michinori    CHINESE   JAPANESE
56      False       kittisak    CHINESE       THAI
55      False       teriuihi    CHINESE   JAPANESE
53      False     sosuepngam    CHINESE       THAI
52      False            bai   JAPANESE    CHINESE
51      False          botan    CHINESE   JAPANESE
49      False           huan       THAI    CHINESE
48      False       toyokuni    CHINESE   JAPANESE
44      False         panich   JAPANESE       THAI
43      False       fukunaga    CHINESE   JAPANESE
42      False       piyatida    CHINESE       THAI
41      False           shun       THAI    CHINESE
119     False       pongsiri    CHINESE       THAI

[120 rows x 4 columns]

# Save/Load model

In [17]:
model.save('model.h5')

In [18]:
model = load_model('model.h5')

# Inspection
Identify names that the model predicts incorrectly

In [19]:
incorrect_mask = model.predict(X_test_flat)[0].argmax(axis=1) != y_nation_test.argmax(axis=1)
names = X_str_test[incorrect_mask]
pred = model.predict(X_test_flat[incorrect_mask,:])[0]
pred_nations = available_nations[pred.argmax(axis=1)]
probs = pred.max(axis=1)
nations = available_nations[y_nation_test[incorrect_mask].argmax(axis=1)]
df = pd.DataFrame(columns=['name', 'predicted nation', 'true nation', 'prediction confidence'])
for i in range(len(names)):
    df.loc[i] = [names[i], pred_nations[i], nations[i], probs[i]*100]
df.sort_values('prediction confidence', ascending=False)

           name predicted nation true nation  prediction confidence
6        somsuk         JAPANESE        THAI              99.862552
8    kanbayashi             THAI    JAPANESE              99.774545
2           kin          CHINESE    JAPANESE              98.863739
11     muranaka             THAI    JAPANESE              97.508121
10      yeanjai          CHINESE        THAI              89.919162
4    sosuepngam         JAPANESE        THAI              85.743368
3         botan             THAI    JAPANESE              84.878314
5       ruogang             THAI     CHINESE              77.324808
0        koichi             THAI    JAPANESE              62.582999
9         artit         JAPANESE        THAI              57.349581
1   tangsiripat         JAPANESE        THAI              55.823261
7        fujino          CHINESE    JAPANESE              55.462158

In [20]:
# count nations that are incorrectly predicted by the model
from collections import Counter
Counter(df['true nation'])

Counter({'CHINESE': 1, 'JAPANESE': 6, 'THAI': 5})

In [21]:
# check if a certain name is inside a dataset
X_that_we_care = X_str_train
X_that_we_care[np.array(['kr' in x for x in X_that_we_care])]

array(['kraingam', 'krittanan', 'krisada'],
      dtype='<U16')

# Inference
Given a name, predict the nation.

In [22]:
def predict(names, model, max_name_len):
    assert(type(names) is list)
    X = []
    for name in names:
        matrix = name_to_matrix(name.lower(), max_name_len)[np.newaxis]
        X.append(matrix)
    X = np.concatenate(X, axis=0)
    X_flat = flatten_X(X)
    return model.predict(X_flat)

names = ["Zemin", "Sunisa", "Phakphum", "Krittitam", "Juksukit", "Chanchana", "Sornsoontorn", "Xi",
        "Jinping", "Shinzo", "Abe", "Prayut", "Chan-o-char", "Watcharaphong",
        "Pusit", "Sora"]
names = [name.lower() for name in names]
pred = predict(names, model, max_name_len)
pred_nation, pred_pos = pred
df = pd.DataFrame(columns=['name', 'nation'] + available_nations.tolist() + ['position'] + name_cols + ['In Training Set?'])
for i in range(len(names)):
    best_nation = available_nations[pred_nation[i,:].argmax()]
    best_pos = name_cols[pred_pos[i,:].argmax()]
    in_training = names[i] in X_str_train
    df.loc[i] = [names[i], best_nation] + (pred_nation[i,:]*100).tolist() + [best_pos] + (pred_pos[i,:]*100).tolist() + [in_training]
df

,name,nation,CHINESE,THAI,JAPANESE,position,first_name,last_name,In Training Set?
0,zemin,CHINESE,98.161499,0.430662,1.407845,last_name,22.704750,77.295258,True
1,sunisa,THAI,4.621304,66.424988,28.953711,first_name,80.570312,19.429689,False
2,phakphum,THAI,0.030125,99.768600,0.201267,last_name,2.777356,97.222641,False
3,krittitam,THAI,0.008759,96.771255,3.220000,first_name,91.955147,8.044858,False
4,juksukit,JAPANESE,0.124522,3.535109,96.340363,last_name,13.979593,86.020409,False
5,chanchana,THAI,0.032551,99.542007,0.425449,first_name,73.261993,26.738012,True
6,sornsoontorn,THAI,0.000013,99.997421,0.002565,last_name,1.524175,98.475822,True
7,xi,CHINESE,99.783173,0.079525,0.137299,first_name,53.744759,46.255241,False
8,jinping,CHINESE,57.653511,41.831242,0.515245,last_name,9.156750,90.843246,False
9,shinzo,JAPANESE,6.478907,2.396963,91.124138,last_name,15.049924,84.950081,False
10,abe,CHINESE,66.896263,3.304691,29.799042,first_name,58.316410,41.683590,False
11,prayut,THAI,3.332179,91.067688,5.600133,last_name,11.674215,88.325790,False
12,chan-o-char,THAI,0.679780,94.882561,4.437651,last_name,1.759451,98.240547,False
13,watcharaphong,THAI,0.000607,99.932709,0.066693,first_name,90.930191,9.069818,False
14,pusit,THAI,0.390599,97.720940,1.888459,first_name,68.432777,31.567219,False
15,sora,JAPANESE,3.695621,34.948139,61.356239,first_name,51.209320,48.790684,False